/*
* Author: Koffi Eli KPONBLANOU
* Description: Project styles template
* Date: Friday 13 APril 2018
*/

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.sys-main{
    position: relative;
    width: 100%;
    height: 100%;
}

/*===========================
    HEADER
==============================*/
.sys-container{
    max-width: 980px;
    margin: auto;
    height: 100%;
    position: relative;
}

.sys-custom__toolbar{
    background-color: #212121;
    /*color: rgba(0, 0, 0, 0.87);*/
}

.sys-main__menu{
    padding-left: 0;
    list-style: none;
}
.sys-main__menu li{
 text-align: left;
 margin-bottom: 8px;
 display: block;
}

.sys-main__menu li a{
    padding: 16px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.sys-contact{
    border-color: #ed3236 !important;
    color: #ed3236 !important;
}

/*---------- HERO ------------*/
.sys-hero{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.sys-hero__cover, 
.sys-section__content,
.sys-section__overlay{
    position: absolute;
    top: 0;
    left: 0;
}

.sys-hero__cover-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: left;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.sys-section__overlay{
    width: 100%;
    height: 100%;
    max-width: 40%;
    background: rgba(0, 0, 0, .7);
}

.sys-section__content{
    width: 100%;
    height: 100%;
}

.sys-section__content--wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.sys-presentation__content{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    padding: 24px;
    margin: 48px 0;
}

.sys-presentation__content h1{
    text-transform: uppercase;
}

@media screen and ( max-width: 425px) {
    .sys-section__overlay{
       max-width: 100%;
    }

    .sys-presentation__content{
        width: calc(100% - 48px);
    }
}

/* Sys section*/
.sys-section{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.sys-section__first,
.sys-section__second{
    padding: 24px;
}

.sys-section__first{
    width: calc(40% - 48px);
    padding-right: 0;
    margin-right: 24px;
}

.sys-section__second{
    width: calc(60% - 48px);
}

.sys-section__title{
    text-transform: uppercase;
}

.sys-section__title h2{
    max-width: 100%;
}
.sys-about__section{
    background: #fc1f3b;
}

.sys-about__title{
    color: #fff;
}

.sys-values__section{
    background: #f9ff00;
}

.sys-values__title{
    color: #fff;
}

.sys-values__list{
    list-style-type: square;
    padding-left: 16px;
}
.sys-value{
    margin-bottom: 16px;
}


.sys-phylosophy__section{
    background-color: #00aa60;
}

.sys-phylosophy{
    text-align: center;
}

/*
.phylosophy{
    background-color: #00aa60;
}
*/


.sys-footer{
    background-color: #212121;
    padding: 16px 24px;
    position: relative;
}

.sys-footer__content{
    color: #fff;
    padding: 0 24px;
}

.sys-footer__content a{
    text-decoration: none;
    color: inherit;
}

/*.sys-presentation__overlay{
    background-color: rgba(237, 50, 54, .8);
}*/

@media screen and (max-width: 768px){
   /* .sys-main__menu{
        display: none;
    }*/
}

@media screen and (max-width: 500px){
    .sys-section__first,
    .sys-section__second{
        width: 100%;
        color: #f3f4f9;
    }
}

/* Animation controls style */
.show{
    transform: translateX(0%);
    transition: transform .195s cubic-bezier(0.4, 0.0, 0.2, 1);;
}

