/*
* Author: Koffi Eli KPONBLANOU
* Description: Project styles template
* Date: Friday 13 APril 2018
*/

body{
    padding: 0;
    margin: 0;
}

/*===========================
    HEADER
==============================*/
.sys-container{
    max-width: 980px;
    margin: auto;
    position: relative;
}

.sys-custom__toolbar{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
}

.sys-main__menu{
    padding-left: 0;
    list-style: none;
    display: flex;
}

.sys-main__menu li a{
    padding: 16px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

/*---------- HERO ------------*/
.sys-hero{
    width: 100vw;
    height: calc(100vh - 69px);
    position: relative;
    overflow: hidden;
}

.sys-hero__cover, 
.sys-section__content,
.sys-section__overlay{
    position: absolute;
    top: 0;
    left: 0;
}

.sys-hero__cover-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: left;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.sys-section__overlay{
    width: 100%;
    height: 100%;
    max-width: 40%;
    background: rgba(0, 0, 0, .7);
}

.sys-section__content{
    width: 100%;
    height: 100%;
}

.sys-section__content--wrapper{
    width: 100vw;
    height: 100%;
    position: relative;
}

.sys-presentation__content{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    padding: 24px;
}

.sys-presentation__content h1{
    text-transform: uppercase;
}

@media screen and ( max-width: 425px) {
    .sys-presentation-overlay{
       max-width: 100%;
    }

    .sys-presentation__content{
        width: calc(100% - 48px);
    }
}

/* Sys section*/
.sys-section{
    padding: 0;
    margin: 0;
    position: relative;
 
}

.values{
    min-height: 70vh;
}

.values-list{
    list-style-type: square;
}

.sys-section__first,
.sys-section__second{
    padding: 24px;
}

.sys-section__first{
    width: 40%;
}

.sys-section__second{
    position: absolute;
    left: 40%;
    background-color: #fff;
    top: 0;
    height: calc(100% - 48px);
}

.sys-section__title{
    text-transform: uppercase;
    padding: 24px;
}

.sys-values__title{
    color: #fff;
}
